body {
  background-color: #fff;
}

.button {
  color: #000;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
  padding: 0 10px;
  background: red;
  line-height: 1.5em;
}

.button.active {
  background: #91DC5A;
  color: #000;
  font-weight: bold;
}

.container {
  width: 25%;
  height: 50%;
  margin: auto;
  border: 2px solid #000;
  margin-top: -0px;
  padding: 25px;
  border-radius: 25px;
}

#calculate {
  border-radius: 5px;
  font-style: italic;
}

#bmi {
  text-align: center;
  margin-top: 150px;
  font-style: italic;
}

.result {
  padding: 0;
  margin-top: 10px;
  font-style: italic;
}

::-webkit-input-placeholder {
  font-style: italic;
}

#google_translate_element{
  width: 200px;
  margin: 5px 10px;
}
