body {
    background-color: #fff;
    margin: 0;
    padding: 5px;
}
 .button {
    color: ##66923C;

    text-align: center;
    padding: 0 10px;
    background: grey;
    line-height: 1.5em;
}
.button.active {
    background: #ea0000;
    color: #fff;
}

.container {
    width: 25%;
    height: 50%;
    margin: auto;
    border: 2px solid #000;
    margin-top: 250px;
    padding: 25px;
    border-radius: 25px;
}

#imperial {
    
}
